*,
*::before,
*::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body
{
	min-height: 100%;
	margin: 0;
}

a
{
	text-decoration: none;
}

img
{
	display: block;
	width: 100%;
}

ul li
{
	list-style: none;
}

.round
{
	border-radius: 25px;
}

@font-face {
	font-family: "Primus";
	src: url(./fonts/Primus.woff);
}
