#content
{
	height: 100%;
}

.selection-arrow
{
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.25);

	cursor: pointer;
	transform: 
		rotate(var( --rotate, 0 ))
		scale(var( --scale, 1 ));
	transition: transform 0.125s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 25px;
	padding-left: 0.125rem;
	margin: 0 2.5rem;
}

.selection-arrow:hover
{
	--scale: 1.25;
	box-shadow: 0 0 15px 2.5px rgb(32, 32, 32);
}

.selection-arrow svg
{
	width: 35px;
	height: 35px;
}

.selection-arrow.left
{
	--rotate: 180deg;
}

#level-selection::before
{
	content: "";
	width: 100%;
	height: 100%;

	background-image: url(https://c4.wallpaperflare.com/wallpaper/868/40/47/waldo-cartoon-where-s-wally-wallpaper-preview.jpg);
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(5px);

	position: absolute;
	top: 0;
	z-index: -1;

	transform: scale(1.125);
}
#level-selection
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: opacity 0.5s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
}

#level-viewer
{
	width: 750px;
	height: 775px;
	background-color: rgba(0, 0, 0, 0.25);
	overflow: hidden;

	box-shadow: 0 0 50px 5px black;
	border-radius: 25px;
}

#level-slides-container
{
	width: max-content;
	height: 100%;

	display: flex;
	gap: 5rem;

	position: relative;
	/* transform: translateX(calc(-550px + -5rem)); */
}

.level-slide
{
	width: 750px;
	height: 775px;
	
	cursor: pointer;
	user-select: none;

	display: flex;
}

.level-slide:hover .level-slide-img-container img
{
	transform: scale(1.125);
}

.level-slide .level-slide-img-container
{
	max-width: 380px;
	height: 100%;
	overflow: hidden;
}

.level-slide-img-container img
{
	width: initial;
	height: 100%;

	transition: transform 0.5s ease-in-out;
}

.level-slide .possible-characters
{
	flex-grow: 1;
	
	font-family: "Montserrat";

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0.5rem;
}

.possible-characters ul
{
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.possible-characters ul li
{
	height: 65.5px;

	font-size: 2.1em;
	font-family: "Montserrat";

	display: flex;
	align-items: center;
}
.possible-characters ul li img
{
	width: 100px;
	max-height: 100%;

	object-fit: contain;
	margin-right: 0.75rem;
}

#leaderboard-container
{
	flex-direction: column;
	align-items: center;
	cursor: initial;

	font-family: "Montserrat";

	padding: 1rem;
}

#leaderboard-container > h1
{
	font-size: 2.75em;
	margin-bottom: 1.5rem;
}

#leaderboard
{
	width: 100%;
}

#leaderboard .header
{
	font-size: 2.25em !important;
	font-weight: bold;

	margin-bottom: 1rem;
}

#leaderboard .player
{
	width: 100%;
	
	text-align: center;
	font-size: 1.75em;

	display: flex;
	justify-content: space-between;

	margin-bottom: 0.25rem;
}

#leaderboard .player #ranking
{
	width: 150px;
}

#leaderboard .player #name
{
	width: 170px;
}

#leaderboard .player #level
{
	width: 130px;
}

#leaderboard .player #time
{
	width: 120px;
}

#click-menu
{
	width: 312.5px;
	background-image: url(./images/ClickMenuBG.png);
	background-position: center;
	background-size: cover;

	color: #CDCECD;
	font-size: 2em;
	font-weight: bold;
	/* Gonna change this font family*/
	font-family: monospace;
	letter-spacing: 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	position: absolute;

	padding: 0.5rem 1rem;
	border: 10px solid black;
	border-radius: 20px;
}

#click-menu .character
{
	height: 125px;
	
	display: flex;
	flex-grow: 1;
	align-items: center;

	cursor: pointer;
	position: relative;
	
	margin: 0.5rem 0;
}

#click-menu .character .img-div
{
	width: 90px;
	min-width: 90px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 1rem;
}

#click-menu .character .img-div img
{
	width: initial;
	max-width: 100%;
	max-height: 100%;
}

#stopwatch
{
	width: 100%;
	height: 75px;
	background-color: black;

	color: white;
	font-size: 3em;
	font-family: Arial;

	display: flex;
	justify-content: center;
	align-items: center;
}

.find-attempt
{
	width: max-content;
	animation: dropFromTop 3s ease-in-out 0s 1 forwards;

	color: white;
	font-size: 3em;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 2.5px;

	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	padding: 1rem 1.5rem;
	border: 5px solid black;
	border-radius: 20px;
}

.find-attempt.found
{
	background-color: green;
}

.find-attempt.not-found
{
	background-color: red;
}

.found-all
{
	width: max-content;
	background-color: green;
	animation: dropFromTopStay 1.25s ease-in-out 3s 1 forwards;

	color: white;
	font-size: 3em;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 2.5px;

	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);

	padding: 1rem 1.5rem;
	border: 5px solid black;
	border-radius: 20px;
}

#win-screen-container
{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: 999;
}

#win-screen
{
	width: 750px;
	height: 500px;
	background-color: green;
	transition: transform 1s ease-in-out;
	transform: translateX(100vw);

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0.75rem;
	border: 7.5px solid black;
}

#win-screen .upper, #win-screen .lower
{
	width: 100%;
}

#win-screen .upper, #win-screen .lower
{
	height: 50%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#win-screen .upper
{
	text-align: center;
}

#win-screen .upper h1
{
	font-family: "Primus";
	font-size: 4.5em;
	font-weight: 800;
	letter-spacing: 10px;
}

#win-screen .upper #time-div
{
	margin-bottom: 1.25rem;
}

#win-screen .upper h2
{
	height: 52.5px;

	color: white;
	font-size: 2.75em;
	font-family: "Poppins";
	font-weight: 300;
	letter-spacing: 1.75px;
}

#win-screen .upper .time
{
	color: white;
	font-size: 2em;
	font-family: "Poppins";
	font-weight: 200;
}

#win-screen .lower
{
	align-items: initial;
}

#win-screen .lower .input-box
{
	display: flex;
	flex-direction: column;
}

#win-screen .lower .input-box label
{
	font-size: 2.25em;
	font-family: "Montserrat";

	margin-bottom: 0.125rem;
}

#win-screen .lower .input-box input
{
	width: 100%;

	font-size: 1.25em;
	font-family: "Montserrat";
	font-weight: 600;

	padding: 0.25rem;
	border: 1px solid black;
}

#win-screen .lower .pretty
{
	font-size: 2em;
	font-family: "Montserrat";
	font-weight: 600;
}

#win-screen .lower #submit
{
	width: max-content;
	background-color: rgb(255, 218, 150);
	
	align-self: center;
	color: black;
	font-size: 2.5em;
	font-family: "Poppins";
	font-weight: 100;
	
	padding: 0 0.5rem;
	border: 2.5px solid black;
}

#win-screen .lower #submit:hover
{
	background-color: rgb(255, 206, 115);
}

#level-cp
{
	width: 100%;
	height: 50px;
	background-color: black;

	color: white;
	font-size: 2em;
	/* probably gonna change this as well lol */
	font-family: monospace;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

#level-cp a
{
	color: wheat;
}

@keyframes dropFromTop
{
	0%
	{
		transform: translate(-50%, -100%);
	}
	25%
	{
		transform: translate(-50%, 12.5%);
	}
	75%
	{
		transform: translate(-50%, 12.5%);
	}
	100%
	{
		transform: translate(-50%, -100%);
	}
}

@keyframes dropFromTopStay
{
	100%
	{
		transform: translate(-50%, 12.5%);
	}
}

@keyframes sliderToRight
{
	15%
	{
		transform: translateX(25px);
	}
	85%
	{
		transform: translateX(calc(-775px + -5rem));
	}
	100%
	{		
		transform: translateX(calc(-750px + -5rem));
	}
}
@keyframes sliderToLeft
{
	15%
	{
		transform: translateX(-25px);
	}
	85%
	{
		transform: translateX(calc(775px + 5rem));
	}
	100%
	{		
		transform: translateX(calc(750px + 5rem));
	}
}
